
* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
  }
  
  
  body {
    padding:0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    background-color: rgb(132, 132, 203);
  }  

  .top{
    display: flex;
    justify-content: space-evenly;
    
}

.text-box{
    display:flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.questions{
    background-color: azure;
    padding: 10px;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    
}

.prompt{
    text-align: center;
    color: black;
}
.intro{
  text-align: center;
}
 
.opt-btn{
    display: flex;
    flex-direction: column;
}


.begin,
.end{
    display: flex;
    justify-content: center;
}




.home,
.clear,
.start{
    background-color: cornflowerblue;
    margin: 5px;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
}
.choice1,
.choice2,
.choice3,
.choice4{
background-color: darkgray;
border-radius: 15px;
margin: 10px;
padding:5px;
text-align: start;
}
    
  
  .hide{
    display:none;
  }